<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>twitterLunchrAnnimationDemo.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>933418D11C36D45C008DE66C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>933418E51C36D45C008DE66C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>933418F01C36D45C008DE66C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
